@model MVCData.Models.Person

<div class="row">
    <div class="col-2">@Model.PersonId</div>
    <div class="col-2">@Model.Name</div>
    <div class="col-2">@Model.PhoneNumber</div>
    <div class="col-2">@Model.City</div>
    <div class="col-2"><a asp-controller="People" asp-action="Delete" asp-route-id="@Model.PersonId">Ta bort</a></div>
</div>
