@model MVCData.ViewModels.PeopleViewModel

@{ 
    ViewData["City"] = new SelectList(Model.AllCitiesList, "CityId", "CityName");
}

<h1>Personer</h1>

<button onclick="getPeople()">People</button>
<input id="id-field" type="number" name="idField" value="" />
<button onclick="getPersonById()">Details</button>
<button onclick="deletePersonById()">Delete</button>
<br />
<br />

<form asp-action="People" method="post">
    <label>Sök efter namn eller stad</label>
    <div>
        <input type="text" name="searchedName" />
    </div>
    <br />
    <input type="submit" name="Search" value="Sök" />
</form>
<br />

<form asp-action="People" method="post">

    <label asp-for="@Model.PersonName"></label>
    <div>
        <input type="text" asp-for="@Model.PersonName" />
    </div>
    <span asp-validation-for="@Model.PersonName" style="color: red;"></span>
    <br />
    <label asp-for="@Model.Phone"></label>
    <div>
        <input type="text" asp-for="@Model.Phone" />
    </div>
    <span asp-validation-for="@Model.Phone" style="color: red;"></span>
    <br />
    <div>
        <label asp-for="@Model.CityId">Städer</label>
        <select asp-for="@Model.CityId" asp-items="ViewBag.City"></select>
    </div>
    <br />
    <div>
        <input type="submit" name="Create" value="Lägg till" />
    </div>
</form>
<br />

<div id="ajaxPeopleList" class="container">

    @if (ViewBag.AddedPersonMessage != null)
    {
        <p>@ViewBag.AddedPersonMessage</p>
    }
    else if (ViewBag.DeletedPersonMessage != null)
    {
        <p>@ViewBag.DeletedPersonMessage</p>
    }
    else
    {

    }

    @if (Model != null)
    {
        <div class="row">
            <div class="col-2" style="font-weight: bold">Id</div>
            <div class="col-2" style="font-weight: bold">Namn</div>
            <div class="col-2" style="font-weight: bold">Telefon</div>
            <div class="col-2" style="font-weight: bold">Stad</div>
            <div class="col-2" style="font-weight: bold"></div>
        </div>

        @if (Model.AllPersonsList != null)
        {
            @foreach (var person in Model.AllPersonsList)
            {
                <partial name="_PersonItem" model="person" />
            }
        }
        else if (Model.AllPersonsWithSpecificNameOrCity != null)
        {
            @foreach (var person in Model.AllPersonsWithSpecificNameOrCity)
            {
                <partial name="_PersonItem" model="person" />
            }
        }
        else
        {
            <div class="row">
                <div>Inga personer hittades!</div>
            </div>
        }
    }
</div>
<br />

