@model IEnumerable<MVCData.Models.Person> 
@using MVCData.ViewModels

<h1>People Index</h1>

<button onclick="getPeople()">People</button>
<input id="id-field" type="number" name="idField" value="" />
<button onclick="getPersonById()">Details</button>
<button onclick="deletePersonById()">Delete</button>
<br />
<br />

<form asp-action="People" method="post">
    <label>Sök efter namn eller stad</label>
    <div>
        <input type="text" name="searchedName" />
    </div>
    <br />
    <input type="submit" name="Search" value="Sök" />
</form>
<br />
@{ CreatePersonViewModel createPersonViewModel = new CreatePersonViewModel();}

<form asp-action="People" method="post">

    <label asp-for="@createPersonViewModel.PersonName"></label>
    <div>
        <input type="text" asp-for="@createPersonViewModel.PersonName" />
    </div>
    <span asp-validation-for="@createPersonViewModel.PersonName" style="color: red;"></span>
    <label asp-for="@createPersonViewModel.Phone"></label>
    <div>
        <input type="text" asp-for="@createPersonViewModel.Phone" />
    </div>
    <span asp-validation-for="@createPersonViewModel.Phone" style="color: red;"></span>
    <label asp-for="@createPersonViewModel.City"></label>
    <div>
        <input type="text" asp-for="@createPersonViewModel.City" />
    </div>
    <span asp-validation-for="@createPersonViewModel.City" style="color: red;"></span>
    <br />
    <div>
        <input type="submit" name="Create" value="Lägg till" />
    </div>
</form>
<br />

<div id="ajaxPeopleList" class="container">

    @if (ViewBag.AddedPersonMessage != null)
    {
        <p>@ViewBag.AddedPersonMessage</p>
    }
    else if (ViewBag.DeletedPersonMessage != null)
    {
        <p>@ViewBag.DeletedPersonMessage</p>
    }
    else
    {
        
    }

    @if (Model != null)
    {
        <div class="row">
            <div class="col-2" style="font-weight: bold">Id</div>
            <div class="col-2" style="font-weight: bold">Namn</div>
            <div class="col-2" style="font-weight: bold">Telefon</div>
            <div class="col-2" style="font-weight: bold">Stad</div>
            <div class="col-2" style="font-weight: bold"></div>
        </div>

        @foreach (var person in Model)
        {
            <partial name="_PersonItem" model="person" />
        }
    }
</div>
<br />

